$text__family-sans: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
$text__size--beta: 30;
$text__line--beta: 36;

// $text__colour--base: $color__neutral--dark;
// $text__colour--alpha: $color__primary;
// $text__colour--beta: $color__primary;
// $text__colour--gamma: $text__colour--base;
// $text__colour--delta: $text__colour--base;